:root{
    --backgroundcolor: rgb(62, 108, 194)
}

#board{
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    width: 800px;
    height: 800px;
    background-color: var(--backgroundcolor);
}

#board .grid{
    width: 100px;
    height: 100px;

}

#board .dark-tile{
    background-color: rgb(75, 74, 74);
}

#board .light-tile{
    background-color: var(--backgroundcolor);

}