.grid{
    display: grid;
    place-content: center;
    width: 100px;
    height: 100px;

}

 .dark-tile{
    background-color: rgb(75, 74, 74);
}

.light-tile{
    background-color: var(--backgroundcolor);

}

.grid img{
    width: 80px;
}